html, body, #container {
  height: 100%;
 }
 #container {
   height: auto; min-height: 100%;
  }
#content {
  padding: 3em;
}
#III {
  display: inline;
  position: fixed;
  top: 10px;
  left: 10px;
  color: #C8C8C8;
  &:hover {
    color: white;
  }
}

header {
display: inline;
position: fixed;
width:100%;
height: auto;
  h1 {
    margin-left: 2rem;
    color:red;
    font-weight: bold;
    font-size: 2em;
  }
    p {
      margin-left: 3rem;
      color: #00ffff;
      font-style: italic;
      font-size: 1em;
      font-weight: lighter;
    }
    }


.ul {

    margin-top: 10rem;
}
li {
  width: 70%;
  text-align: justify;
}

#comment {
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 20px;
}

textarea{
  display: block;
  margin: 10rem;
  width: 100%;
  height: auto;
}

.commentBtn {
  border-radius: 30rem;
}
.pageTrnL{
  border-radius: 45%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 60%
}
.pageTrn{
  border-radius: 45%;
  margin-top: 5px;
  margin-bottom: 5px;
}
  .pageTrnR{
  border-radius: 5px 20px 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#footer {
clear: both;
position: relative;
z-index: 10;
height: 3em;
padding: 1rem;
margin-top: 0.1rem;
background-color: #efefef;
text-align: center;
      a {
        color:red;
        font-weight: bold;
        text-decoration: none;
        &:hover { text-decoration: underline;
          color:green;
    }
    }
}
