<!DOCTYPE html>
<html ng-app="shaman">
<head>
<meta  charset="utf-8" content="width=device-width, initial-scale=1">
<title>Shaman's Blog</title>
<link rel="icon" href="img/ic.jpg" type="image/x-icon" />
<link rel="stylesheet" href="css/Style.css">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
</head>
<body ng-controller="shcontr">
<div ID="conteiner">

    <!--menu-->

<nav class="w3-sidenav w3-light-grey w3-card-2" style="display:none" id="mySidenav">
  <a href="javascript:void(0)"
        onclick="w3_close()"
        class="w3-closenav w3-large">Close &times;</a>
    <ul class="w3-ul w3-hoverable">
      <li style="color:white" ng-repeat="ll in links"> <a style="text-decoration:none" href="{{ll.lin}}" target="_blank"><abbr title="new window {{ll.lin}}">{{ll.name}}</abbr></a> </li>
    </ul>
</nav>

<header class="w3-container w3-teal" id="headr">
  <h1>Shaman's Blog</h1>
  <p>nothing is true, everything is permitted</p>
</header>

<div id="main">

<span id="III" style="display:inline" class="w3-opennav w3-xlarge" onclick="w3_open()" id="openNav">&#9776;</span>

<!--menu-->

    <div ID="content">


      <!-- modal to do list -->
      <div id="id01" class="w3-modal">
        <div class="w3-modal-content">
          <div class="w3-container">
            <ul class="w3-ul w3-card-4">
              <li ng-repeat="todo in todos" class="w3-padding-16">
                <p>{{todo}}</p>
              </li>
            </ul>
          </div>
          <footer class="w3-container w3-teal">
            <input style="color:cyan" ng-model="addNew" placeholder="new todo item">
            <button style="border-radius:30px" ng-click="addTodo()">Add</button>
            <p>{{errText}}</p>
          </footer>
        </div>
        </div>
      <!-- modal to do list -->
        <div class="ul">

<!-- modal to do list -->

<button onclick="document.getElementById('id01').style.display='block'" class="w3-btn">Open Modal</button>

<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
<!-- modal to do list -->

<!--xs button-->
          <button class="visible-sm-block commentBtn w3-btn w3-white w3-border" ng-click="ccc($index)">Click Me!</button>
          <button class="visible-sm-block commentBtn w3-btn w3-white w3-border" ng-mousemove="count2 = count2 + 1">Hover Me bro!</button>

<!-- Clock -->
<a ng-click="isReplyFormOpen = !isReplyFormOpen" class="w3-btn w3-white">Reply</a>
<div ng-show="isReplyFormOpen" class="w3-panel w3-red">
  <h3>Danger!</h3>
  <p>{{clock | date:'hh'}} : {{clock | date:'mm'}} : {{clock | date:'ss'}}</p>
</div>

<!--normal size button-->
            <button class="hidden-sm commentBtn w3-btn w3-white w3-border" ng-click="ccc($index)">Click Me!</button>
            <button class="hidden-sm  commentBtn w3-btn w3-white w3-border" ng-mousemove="count2 = count2 + 1">Hover Me bro!</button>
            <button class="hidden-sm  commentBtn w3-btn w3-light-grey w3-border" ng-dblclick="cccc($index)">Duble Click Me!</button>
                <p> {{count}} + {{count2}} = {{count + count2}} </p> <br/>
<p style="color:red">counter: <span>{{shtoyik}}</span> 3</p>
                <a class="commentBtn w3-btn w3-white w3-border" target="_blank" href=yo.html>Testing some animations</a>
                    </div>


                    <a class="w3-btn w3-teal pageTrnL" ng-click="pagePrev($index)"><</a>
                    <a class="w3-btn w3-teal pageTrn" ng-click="pagePrev($index)">></a>
                    <a class="w3-btn w3-green pageTrnR" >{{ind}}</a>
                <ul class="w3-ul w3-card-4">
                  <li ng-repeat="post in posts" class="w3-padding-16">
                    <span>{{post.name | uppercase}}</span>
                    <p>{{post.text}}</p>
                  </li>
                </ul>


<blog-post info="bro"></blog-post>


<div id="comment" class="w3-container w3-teal">
<h2>TEXT</h2>
</div>

<p>{{comment.text | date : "fullDate"|uppercase}}</p>
<form class="w3-container">
  <label class="w3-label w3-text-teal"><b>Comment</b></label>
    <textarea ng-model="comment.text" class="w3-textarea w3-border w3-light-grey" type="text"></textarea>
      <button class="w3-btn w3-white w3-border w3-round-xlarge" ng-click="plusOne($index)">Confirm</button>
</form>


    </div>
</div>
  <div ID="footer">
  <a href="https://www.facebook.com/pages/Shamanism/105590726141881?ref=br_rs">SHAMAN</a>
</div>


<!--scripts-->

<script src="app.js"></script>
<script src="dirTiv/blogPost.js"></script>
  <!--menu-->

<script>
function w3_open() {
  document.getElementById("main").style.marginLeft = "25%";
  document.getElementById("mySidenav").style.width = "25%";
  document.getElementById("mySidenav").style.display = "block";
  document.getElementById("openNav").style.display = 'none';
  document.getElementById("headr").style.width = "75%";
  document.getElementById("headr").style.left = "25%";
}
function w3_close() {
  document.getElementById("main").style.marginLeft = "0%";
  document.getElementById("mySidenav").style.display = "none";
  document.getElementById("openNav").style.display = "inline-block";
}
</script>

</body>
</html>
